#grid {
  width: fit-content;

  &.cleared {
    background: linear-gradient(
        to right,
        #f00 0%,
        #f80 14.28%,
        #dd0 28.56%,
        #0d0 42.85%,
        #0dd 57.14%,
        #00f 71.42%,
        #e0e 85.71%,
        #f00 100%
      )
      0% center / 200% auto;
    animation: rainbow-background 4s linear infinite;
  }
  @keyframes rainbow-background {
    to {
      background-position-x: 200%;
    }
  }

  .row {
    display: flex;

    .square {
      width: 50px;
      height: 50px;
      background-size: contain;
      margin: 1px;
      background-color: crimson;
      &.active {
        background-image: url(./sisisin.png);
        background-color: transparent;
      }
    }
  }
}
